/* Main container for the Teacher Resources page */
.tr-container,
.tr-container * {
  box-sizing: border-box;
}

.tr-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Add any additional styles for the Teacher Resources page here */