.payment-history {
  background-color: #f3f4f6;
  border-radius: 8px;
  padding: 24px 27px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.payment-history h1 {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}

.payment-history__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
