.student-contact-container {
  position: relative;
  width: 100%;
  background-color: #f8f9fa;
  min-height: 100vh;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}

.student-contact-content {
  max-width: 100%;
  scrollbar-width: none;
  background-color: #f9f9f9;
}
